<!--The content below is only a placeholder and can be replaced.-->

<!--Estructura del componente o vista-->
<header>
<nav class="navegacion">
<mat-toolbar color="primary">
 
<ul class="menu">
  <li><a routerLink="/pacientes">Listar</a></li>
  <li><a routerLink="/paciente">Crear</a></li>
</ul>



</mat-toolbar>
</nav>
</header><router-outlet></router-outlet>

<!-- aqui llamamos el metodo<h2> {{getTitulo}}</h2>-->
<!-- <button  [disable]= "botonstatus">Mi boton</button>--><!--Property binding    
  botonstatus es una variable--> 