<table mat-table [dataSource]="pacientes" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
    </ng-container>    
   <!-- Weight Column -->
   <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef> Direccion </th>
      <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
    </ng-container>    
   <!-- Weight Column -->
   <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> Telefono </th>
      <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>    
   <!-- Weight Column -->
   <ng-container matColumnDef="fecha_nacimiento">
      <th mat-header-cell *matHeaderCellDef> Fecha de nacimiento </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_nacimiento}} </td>
    </ng-container>   

   <!--boton editar--> 
   <ng-container matColumnDef="editar">
     <th mat-header-cell *matHeaderCellDef>
       </th>
      <td mat-cell *matCellDef="let element"><button mat-button routerLink="/paciente/{{element.id}}"
        mat-raised-button color="primary"  >  <mat-icon></mat-icon>Editar</button> </td>
    </ng-container>    
  
  
   <!--boton eliminar--> 
  
   <ng-container matColumnDef="eliminar">
    <th mat-header-cell *matHeaderCellDef>
      </th>
     <td mat-cell *matCellDef="let element"><button mat-button 
       mat-raised-button  color="warn" (click)="delete( element.id)">  <mat-icon></mat-icon>Eliminar</button> </td>
   </ng-container>   
  

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="seleccionaPaciente(row)"></tr>
  </table>
  
 <div style="width:50%;margin: 8% auto" *ngIf="pacienteSeleccionado">
    <paciente-view [paciente]="pacienteSeleccionado" ></paciente-view>
</div>
